<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="light">Cores</ion-title>
    <ion-menu-button slot="start" color="light"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-title>Minhas cores favoritas são:</ion-card-title>
  <ion-button color="primary">Azul</ion-button>
  <ion-button color="warning">Amarelo</ion-button>
  <ion-button color="danger">Vermelho</ion-button>
  <ion-button color="light">Branco</ion-button>
  <ion-button color="dark">Preto</ion-button>
</ion-content>
