<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="light">Conhecimento</ion-title>
    <ion-menu-button slot="start" color="light"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Conhecimento 01</ion-card-subtitle>
      <ion-card-title>Ensino médio completo</ion-card-title>
      <ion-card-subtitle>Escola: Salesiano</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Mantive conhecimento na escola salesiano por 3 anos no ensino médio.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Conhecimento 02</ion-card-subtitle>
      <ion-card-title>Curso de inglês</ion-card-title>
      <ion-card-subtitle>BRASAS</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Mantive conhecimento no curso BRASAS por 5 anos de período.
    </ion-card-content>

    <ion-card-content>
      Habilidades adquiridas: Inglês avançado.
    </ion-card-content>
  </ion-card>

  <ion-card-header>
    <ion-card-subtitle>Conhecimento 03</ion-card-subtitle>
    <ion-card-title>Curso de Informática Básica</ion-card-title>
    <ion-card-subtitle>SENAC/RJ</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Mantive conhecimento no curso Senac por 1 anos de período.
  </ion-card-content>

  <ion-card-content>
    Habilidades adquiridas: Word intermediário, Excel intermediário e PowerPoint intermediário.
  </ion-card-content>
</ion-card>
  
 
</ion-content>
